*.o
*.txt
*.
.vscode
#p1_20192419/Untitled-1.c
#p1_20192419/timestamptest.c
#p1_20192419/Untitled-1.c
#p1_20192419/timestamptest.c
#p1_20192419/testtest.c
#p1_20192419/lastest.c
#p2_20192419/.repo/.staging.log
.repo/*
#p2_20192419/.repo/.staging.log
#p2_20192419/playground/.repo/.commit.log
#p2_20192419/playground/.repo/.staging.log
playground
playground/*
add
commit
help
logremove
revert
ssu_repo
status